<H1>Lista de Convidados</H1>

<form #form="ngForm" (submit)="saveData(form)">
  <div>
    <div>
      <h2>Cadastrar novos convidados</h2>
      <label>Nome:</label>
      <input type="text" name="nome" [(ngModel)]="newConvidado.nome">
    </div>
    <div>
      <label>E-mail:</label>
      <input type="text" name="email" [(ngModel)]="newConvidado.email">
    </div>

    <div>
      <input type="submit" value="Salvar">
    </div>
  </div>

  <div>
    <h2>Convidados já Cadastrados</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let convidado of convidadoList">
          <td>{{convidado.nome}}</td>
          <td>{{convidado.email | email}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</form>